--- 
title: Playtime
body_class: book
content_class: book
chapter: 99
no_link: false
---

== {title}

WARNING: **THIS PAGE IS FULL OF TRASH! IT'S HERE JUST TO PLAY WITH FORMATTING IDEAS! No need to read this nonsense.**

What is Redis and why is it like a kettle full of hammers? How can you use Redis in a retail environment and stuff like that? I'll explain
all of the ins and outs of the process here.

NOTE: And some more +love+ to do here.

=== A subsection

This is a wonderful example of [how things](#anchortest1) work. This is a wonderful example of how things work. This is a wonderful example of how things work. This is a wonderful example of how things work.

.A quote
> <%= lorem(2) %>

<%= lorem(3) %>

OK: Do try this at home kids.

WARNING: Be careful of stuff.

TERMINAL: Type `ls` and press enter to see fun.

WIZARD: It's magic.

MATH: 2 + 2 = 4

HELP: Blah blah do this.

INFO: Visit [google.com](http://google.com/) for more info about this.

<div class="figure"><p class="caption">Hello</p></div>

==== Graph
    
And so is this. And so is this. And so is this. And so is this. And so is this.

<div class="figure"><p class="caption">Hello</p></div>

.Some Syntax Colored Code
[source,ruby]
----
require 'abc'

puts "this is a test"
x = 10
----

<%= lorem(5) %>

<%= lorem(2) %>

<%= lorem(3) %>

=== Another subsection

.A demo of inline SVG diagrams
This is some more cool stuff and carrying on like this I want to elaborate on the conjectures of the
theories that supposed that there is more to <%= svg(%{<svg viewBox="0 0 100 24" width="220" height="56" preserveAspectRatio='xMinYMin meet' style="display: inline" id="embeddedSVG" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs>
              <linearGradient id="blueNavy" gradientTransform="rotate(90)">
                  <stop stop-color="blue" offset="0"/>
                  <stop stop-color="navy" offset="1"/>
              </linearGradient>
              <linearGradient id="redMaroon" gradientTransform="rotate(90)">
                  <stop stop-color="red" offset="0"/>
                  <stop stop-color="maroon" offset="1"/>
              </linearGradient>
          </defs>
          <g id="myGroup" fill="blue" 
                 style="font-size: 18px; text-anchor: middle; font-family: serif;">
                 <circle id="myCircle" cx="50" cy="12" r="12" stroke="none" 
                     fill="url(#blueNavy)" onclick="toggle(this)" cursor="pointer"/>
                     <circle id="myCircle" cx="20" cy="12" r="12" stroke="none" 
                         fill="pink" onclick="toggle(this)" cursor="pointer"/>
                         <circle id="myCircle" cx="80" cy="12" r="8" stroke="none" fill="black" onclick="toggle(this)" cursor="pointer" />
                         
          </g>
  </svg>}) %> worry about than the equilibrium concepts of *x*, *y*, and *z*.



What is Redis and why is it important? <%= svg(%{<svg viewBox="0 0 100 33" width="50" height="15" style="display: inline"><polyline points="5 20, 20 20, 25 10, 35 30, 45 10, 55 30, 65 10, 75 30, 80 20, 95 20" style="stroke: black; stroke-width: 3; fill: none;"/></svg>}) %>How can you use Redis in a deployment environment and stuff like that? I'll explain
all of the ins and outs of the process here.
