---
title: Redis Book
body_class: home
---

WARNING: This book is not *anywhere* near done. In fact, it's barely been begun! If you want to keep up to date with progress, follow [the author's blog](http://peterc.org/blog/) or add this page to Google Reader and it'll let you know of any updates.

<div class="floating-right">
  <img src="/images/plainbook.jpg" />
  <div class="box">
  <h3>Chapters</h3>
  <ul>
<% chapters.each do |chapter| %>
  <li><%= chapter[:chapter] %>&emsp;<%= link_to chapter[:title], chapter.rep_named(:default) %></li>
<% end %>
  </ul>
  </div>
<p style="font-size: 0.9em">See the <a href="/contents/">Table of Contents</a> for more.</p></div>

The Redis Book
==============

"The Redis Book" (*real title yet to be decided*) will be a *comprehensive tutorial and reference guide* to [Redis](http://code.google.com/p/redis/), an open source, 
memory based, persistent, key-value data storage system invented by [Salvatore Sanfilippo](http://twitter.com/antirez).

Key ambitions for the book are:

* transparency ([public GitHub repo](http://github.com/peterc/redisbook))
* openness (non-commercial Creative Commons license and edits/fixes welcomed via GitHub)
* to be both interesting and educational (interactive SVG figures in the works!)

Longer term, I will be selling an attractive PDF and print book later on down the line while having the same content available online for free, rather
like Michael Hartl's [RailsTutorial.org.](http://railstutorial.org/)

As of August 2010, there is little to see, but if you want to check out *something* useful about Redis, see [my Redis presentation (PDF).](http://no.gd/redis-presentation.pdf)

Status
------

.August 8, 2010
Work on the templating and building system is complete enough for now. My next task is bringing some of my planned structure into play so I can begin drafting content.

.August 6, 2010
The project has only just been started after a little offline planning. The only thing worth looking at so far is the <%= link_to 'Formatting demonstration page', 'ch1-introduction/' %>! 


