<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= @item[:title] %></title>
    <link rel="stylesheet" type="text/css" href="/style.css" media="screen" />
    <%= @config[:book][:head] %>
  </head>
  <body class="<%= @item[:body_class] %> <%= @config[:book][:body_classes] %>">
    <div id="header">
      <div class="inner">
      <ul>
        <li class="title"><a href="/"><%= @config[:book][:title] %></a></li>
        <li class="home"><a href="/">Home</a></li>
        <li class="contents"><%= link_to "Contents", "/contents/" %></li>
        <%= @config[:book][:header_links] %>
      </ul>
      </div>
    </div>

    <div id="page">
      <div id="main">
        <%= yield %>
      </div>
      <div id="footer">
        Last updated: <%= @item.mtime.strftime("%B %d, %Y") %><br />
        <%= @config[:book][:footer] %>
      </div>
    </div>
  <%= @config[:book][:end_of_body] %>
  </body>
</html>
